In [80]:
# Getting all the libraries.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [81]:
# Uploading the data frame
data = pd.read_csv('files_for_lab/learningSet.csv')
print(data.shape)
data.head(3)

/usr/local/Cellar/jupyterlab/3.0.9/libexec/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3155: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

(95412, 481)

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C

## 1. Check for null values in all the columns

In [128]:
numerical = data.select_dtypes(np.number)
categorical = data.select_dtypes(object)

In [129]:
categorical = categorical.apply(lambda x: x.replace(" ", np.NaN))

In [130]:
nulls_percent_df = pd.DataFrame(categorical.isna().sum()/len(data)).reset_index()
nulls_percent_df.columns = ['column_name', 'nulls_percentage']
nulls_percent_df.head(3)

  column_name  nulls_percentage
0     OSOURCE          0.009726
1       STATE          0.000000
2         ZIP          0.000000

## 2. Create a new empty

In [131]:
drop_list = ['OSOURCE','ZIP']

## 3. Identify columns that over 85% missing values

In [132]:
display(nulls_percent_df[nulls_percent_df['nulls_percentage']>0.85].shape)
display(nulls_percent_df[nulls_percent_df['nulls_percentage']>0.85])
columns_drop = list(nulls_percent_df[nulls_percent_df['nulls_percentage']>0.85]['column_name'])

(30, 2)

   column_name  nulls_percentage
3     MAILCODE          0.985337
4     PVASTATE          0.984719
6     RECINHSE          0.929747
7        RECP3          0.978860
8      RECPGVG          0.998805
9     RECSWEEP          0.983052
15     CHILD03          0.987989
16     CHILD07          0.983587
17     CHILD12          0.981019
18     CHILD18          0.970161
21       SOLP3          0.998113
22       SOLIH          0.935019
23       MAJOR          0.996919
25    COLLECT1          0.945479
26    VETERANS          0.890727
27       BIBLE          0.907024
28       CATLG          0.917568
29       HOMEE          0.990703
31      CDPLAY          0.871568
32      STEREO          0.865908
33    PCOWNERS          0.890150
34       PHOTO          0.949839
35      CRAFTS          0.914308
36      FISHER          0.925271
37    GARDENIN          0.859535
38       BOATS          0.978745
39      WALKER          0.889940
40    KIDSTUFF          0.983901
41       CARDS          0.989089
42      PLATES          0.994131

In [133]:
for column in drop_list:
    columns_drop.append(column)

## 4. Remove those columns from the dataframe

In [134]:
categorical = categorical.drop(columns_drop, axis=1)

## 5. Reduce the number of categories in the column GENDER

In [135]:
print(categorical['GENDER'].value_counts())
categorical['GENDER'] = categorical['GENDER'].fillna('F')

F    51277
M    39094
U     1715
J      365
A        2
C        2
Name: GENDER, dtype: int64

In [136]:
# Define a fuction to clean gender column.
def gender_clean(gender):
    if (gender == 'U') or (gender == 'J') or (gender == 'A') or (gender == 'C'):
        return 'other'
    else:
        return gender

In [137]:
categorical['GENDER'] = list(map(gender_clean,categorical['GENDER']))
print(categorical['GENDER'].value_counts())